 <!--Bottom Nav-->
<!--<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved.</h1>
  </nav>
</footer>
-->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container">
    <small>Copyright &copy; Copyright 2020. All Rights reserved.</small>
  </div>
</footer>